<app-navbar></app-navbar>
<div class="container my-auto">
    <div class="row">
        <div class="col-sm-12">.
            <div class="row">
                <div class="col-sm-8">
                    <div class="mt-5 mx-auto text-center card-body bg-white card" id="round">
                        <h1 class="card-header">
                            <img [src]="loggedUser.image" width="90" height="35" class="img-thumbnail" id="round"> {{loggedUser.name}}
                        </h1>
                        <div class="card-block mt-5">
                            <h3 class="card-title">
                                <strong>Progreso semanal</strong>
                            </h3>
                            <div>
                                <canvas id="myProgress">{{chart}}</canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="mt-5 mx-auto text-center card-body bg-white card" id="round">
                        <h2 class="">NIVEL</h2>

                        <div class="card-block mt-3 mb-2">
                            <h1 class="card-title text-warning">{{loggedUser.level}}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>