<!-- Lessons -->
<body class="bghome" >
<div class="container my-auto">
    <div class="row">
        <div class="col-sm-14">.
            <div class="row">
                <div class="col-sm-12">
                    <div class="mt-5 mx-auto text-center card-body bg-white" id="round">
                        <div class="container">
                            <div class="row ">
                                <div class="col-lg-12 text-center">
                                    <h2 class="section-heading">Unidad {{id}}</h2>
                                    <h5 class="section-heading"> {{nlesson}} / 3 Lecciones completadas</h5>
                                    <hr class="my-4">
                                </div>
                            </div>
                        </div>
                        <button class=" btn btn-primary btn-xl js-scroll-trigger" (click)="pulsar()">COMENZAR</button>
                        <div class="container">
                            <div class="row justify-content-around">
                                <div *ngFor="let lesson of unit.lessons" class="col-lg-4 col-md-6 ">
                                    <div *ngIf="lessonsCompleted[(lesson.id%4)-1]==true" class="service-box mt-5 mx-auto text-center border border-secondary card-body rounded"
                                        id="UnitComplete">
                                        <h4 class="mb-3">Lección {{lesson.id}} de 3</h4>
                                        <h2 class="text-white ">{{lesson.name}}</h2>
                                        <a class=" btn btn-primary btn-xl js-scroll-trigger" [routerLink]="['/Unit',unit.id,'Lessons', lesson.id  , 'Exercise'  , 1]">REPASAR</a>
                                    </div>
                                    <div *ngIf="lessonsCompleted[(lesson.id%4)-1]==false" class="service-box mt-5 mx-auto text-center border border-secondary card-body rounded"
                                        id="Unit">
                                        <h4 class="mb-3">Lección {{lesson.id}} de 3</h4>
                                        <h2 class="text-white ">{{lesson.name}}</h2>
                                        <a class=" btn btn-primary btn-xl js-scroll-trigger" [routerLink]="['/Unit',unit.id,'Lessons', lesson.id  , 'Exercise' , 1]">COMENZAR</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>