<div class="bgexercises" id="page-top">

  <!--Question and answers-->
  <section class="p-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">{{getStatement()}}</h2>
          <hr class="my-4">
        </div>
      </div>
    </div>
    <div class="container ">

      <div class="col-lg-8 mx-auto">
        <label class="mx-auto text-center" id="exercise1">
          <h5 class="mt-2 mb-2 ml-2 mr-2">
            <input type="radio" name="solution" value="uno" />{{getTexts()}}
          </h5>
        </label>
      </div>
      <div class="col-lg-8 mx-auto">
        <label class="mx-auto text-center" id="exercise1">
          <h5 class="mt-2 mb-2 ml-2 mr-2">
            <input type="radio" name="solution" value="dos" />{{getTexts()}}
          </h5>
        </label>
      </div>
      <div class="col-lg-8 mx-auto">
        <label class="mx-auto text-center" id="exercise1">
          <h5 class="mt-2 mb-2 ml-2 mr-2">
            <input type="radio" name="solution" value="tres" />{{getTexts()}}
          </h5>
        </label>
      </div>
    </div>
  </section>

</div>
