<app-navbar></app-navbar>
<body class="bghome mt-3" id="page-top">
  <div class="container my-auto">
    <div class="row">
      <div class="col-sm-12">
        <div class="mt-5 mx-auto text-center card-body bg-white" id="round">
          <div id="accordion">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h3 class="card-title mt-2">
                  <strong>ADMINISTRACIÓN</strong>
                </h3>
              </div>
            </div>
            <div class="row">
              <div class=" col-sm-6 card-block mb-2">
                <a id="add-users" class="btn btn-primary js-scroll-trigger mt-5 text-light" [routerLink]="['/Admin/UserData']">Ver datos de los usuarios</a>
              </div>
              <div class="col-sm-6 card-block  mb-2">
                <a id="add-users" class="btn btn-primary js-scroll-trigger mt-5 text-light">Subir contenido</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>