<exercise1 *ngIf="kindExercises[0]==1" [nElement]='nElement' [idUnit]='idUnit' [idLesson]='idLesson' [idExercise]='idExercises[0]' (newExercise)='newExercisechange($event)'></exercise1>
<exercise2 *ngIf="kindExercises[0]==2" [nElement]='nElement' [idUnit]='idUnit' [idLesson]='idLesson' [idExercise]='idExercises[0]' (newExercise)='newExercisechange($event)'></exercise2>
<exercise5 *ngIf="kindExercises[0]==5" [nElement]='nElement' [idUnit]='idUnit' [idLesson]='idLesson' [idExercise]='idExercises[0]' (newExercise)='newExercisechange($event)'></exercise5>
<exercise7 *ngIf="kindExercises[0]==7" [nElement]='nElement' [idUnit]='idUnit' [idLesson]='idLesson' [idExercise]='idExercises[0]' (newExercise)='newExercisechange($event)'></exercise7>
