<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" [routerLink]="['/home']">CONTaFIN</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-left">
                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="['/home']">Inicio
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
            </ul>
            <ul *ngIf="isLoggedUser" class="navbar-nav ml-auto">
                <li *ngIf="isAdmin" class="nav-item mr-4">
                    <a class="btn btn-primary js-scroll-trigger text-light" [routerLink]="['/Admin/Home']">ADMINISTRACIÓN</a>
                </li>

                <li>
                    <img [src]="loggedUser.imgURL" width="40" height="35" class="img-thumbnail">
                </li>
                <li ngbDropdown class="nav-item">
                    <a ngbDropdownToggle class="nav-link" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{loggedUser.name}}</a>
                    <div ngbDropdownMenu aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" [routerLink]="['/User/Profile']">Tu perfil</a>
                        <a class="dropdown-item" [routerLink]="['/User/Configuration']">Configuración</a>
                        <a class="dropdown-item" [routerLink]="['/User/Goal']">Fijar meta</a>
                        <a class="dropdown-item" [routerLink]="['/']" (click)="logOut()">Cerrar Sesión</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger">
                        <img src="../../assets/fire.png" width="25" height="23" class="d-inline-block align-top">
                        <span class="badge badge-light">{{loggedUser.streak}}</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger">
                        <img src="../../assets/gemstone-160838_960_720.png" width="25" height="23" class="d-inline-block align-top">
                        <span class="badge badge-light">{{loggedUser.points}}</span>
                    </a>
                </li>
            </ul>

        </div>
    </div>
</nav>