<app-navbar></app-navbar>
<div class="mt-4">
  <div class="container my-auto">
    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-8 ">
            <div class="mt-5 mx-auto text-center card-body bg-white card" id="round">
              <div class="container">
                <div *ngIf="alertDanger" class="container">
                  <div class="alert alert-danger mt-2" role="alert">
                    <strong>¡Error al guardar los cambios!</strong> {{errorMessage}}
                  </div>
                </div>
              </div>
              <div class="container">
                <div *ngIf="alertSuccess" class="container">
                  <div class="alert alert-success mt-2" role="alert">
                    <strong>¡Tus cambios se han guardado correctamente!</strong>
                  </div>
                </div>
              </div>
              <form ngNativeValidate>
                <div class="row">
                  <div class=" col-sm-8 mt-5">
                    <h3>Configuración de la cuenta</h3>
                  </div>
                  <div class=" col-sm-3 mt-5">
                    <input type="submit" value="Guardar cambios" class="btn btn-primary js-scroll-trigger" (click)="updateUser()"/>
                    <br />
                  </div>
                </div>
                <div class="row">
                  <div class=" col-sm-3 mt-5">
                    <h5>Usuario:</h5>
                  </div>
                  <div class=" col-sm-8 mt-5">
                    <h5>
                      <input [(ngModel)]="userData.name" type="text" class="form-control" id="roundregister" name="newName" [placeholder]="loggedUser.name">
                    </h5>
                  </div>
                </div>
                <div class="row">
                  <div class=" col-sm-3 mt-5">
                    <h5>Correo:</h5>
                  </div>
                  <div class=" col-sm-8 mt-5">
                    <h5>
                      <input [(ngModel)]="userData.email" type="email" class="form-control" id="roundregister" aria-describedby="emailHelp" name="newEmail"
                        [placeholder]="loggedUser.email">
                    </h5>
                  </div>
                </div>
                <div class="row">
                  <div class=" col-sm-3 mt-5">
                    <h5>Nueva contraseña:</h5>
                  </div>
                  <div class=" col-sm-8 mt-5">
                    <h5>
                      <input #newPass type="password" class="form-control" id="roundregister" name="newPass" placeholder="Nueva contraseña">
                    </h5>
                  </div>
                </div>
                <div class="row">
                  <div class=" col-sm-3 mt-5">
                    <h5>Antigua contraseña:</h5>
                  </div>
                  <div class=" col-sm-8 mt-5">
                    <h5>
                      <input #oldPass required minlength="1" type="password" class="form-control" id="roundregister" name="newPass" placeholder="Antigua contraseña">
                    </h5>
                  </div>
                </div>
              </form>
              <form enctype="multipart/form-data">
                <div class="row">
                  <div class=" col-sm-3 mt-5">
                    <h5>Imagen:</h5>
                  </div>
                  <div class=" col-sm-8 mt-5">
                    <h6>
                      <input file-model="file" id="inputTipe" type="file" class="text-center text-secondary" name="file" (change)="selectFile($event)" multiple/>
                    </h6>
                    <h5>
                      <input type="submit" id="button-style" class="btn btn-primary js-scroll-trigger mt-2" value="Enviar" (click)="uploadImage();"/>
                    </h5>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="col-sm-4 ">
            <div class="mt-5 mx-auto text-center card-body bg-white card" id="round">
              <h1 class="card-header bg-white">
                <img [src]="imageView" width="90" height="35" class="img-thumbnail" id="round"> {{loggedUser.name}}
              </h1>
              <h1 *ngIf="noAdmin" class="card-header bg-white">
                <button id="button-style" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong" (click)="open(content)">
                  Eliminar cuenta
                </button>
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--pop-up delete account-->
<ng-template #content let-c="close" let-d="dismiss">
  <form>
    <div class="modal-content">
      <div class="modal-header">
        <div class="col-8">
          <h3 class="modal-title" id="exampleModalLongTitle">
            <strong>¿Estás seguro?</strong>
          </h3>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" (click)="d('Cross click')">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-12">
          <h6 class="modal-title" id="exampleModalLongTitle">Se borrara tu progreso.</h6>
        </div>
      </div>
      <div class="modal-footer">
        <a class="btn btn-primary text-white" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">CANCELAR</a>
        <input type="submit" value="Borrar cuenta" class="btn btn-primary" id="button-style" (click)= "deleteAccount()" (click)="d('Cross click')"/>
      </div>
    </div>
  </form>
</ng-template>