<!-- For changing background modify img header.jpg -->
<header class="masthead text-center text-white d-flex">
	<div class="container m-auto">
		<div class="row">
			<div class="col-sm-5 ">
				<img src="../assets/Logo.png" class="img-fluid " alt="Responsive image">
			</div>
			<div class="col-sm-7 align-self-center">
				<h1 class="text-uppercase">
					<h2>Diviértete aprendiendo contabilidad</h2>
				</h1>
				<hr>
				<a id="button-style" class="btn btn-primary btn-xl js-scroll-trigger" [routerLink]="['/home']">COMENZAR</a>
				<app-sign-up ></app-sign-up>
			</div>
		</div>
	</div>
</header>