<div class="bghome mt-3">
	<div class="container my-auto">
		<div class="row">
			<div class="col-sm-8">
				<div class="row">
					<div class="col-sm-12">
						<div class="mt-5 mx-auto text-center card-body bg-white" id="round">
							<h2 class="text-black text-left " id="Margin">Unidades de Contabilidad
							</h2>
							<h5 class="text-black text-center mt-5">Nivel 1</h5>
							<div class="row justify-content-around">
								<div  *ngFor="let unit of units" class="col-lg-6 col-md-6 ">
									<div class="service-box mt-5 mx-auto text-center card-body" id="UnitComplete">
										<a class="col-lg-5" href="/Unit/{{unit.id}}/lessons" id="selectLesson">
											<h2 class="text-white ">{{unit.name}}</h2>
											<h2 class="text-muted mt-4">0/3</h2>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div *ngIf="loginService.isLoggedUser()" class="col-sm-4">
				<div class="row">
					<div class="col-lg-12">
						<div class="mt-5 text-center card-body bg-white margin-bootom-sm" id="round">
							<h5 class="text-black text-left">Conocimiento de contabilidad
							</h5>
							<div class="row">
								<div class="col-lg-12 ">
									<h1 class="card-title text-warning">{{this.loginService.getFluency()}} %</h1>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="mt-4 text-center card-body bg-white " id="round">
							<div class="row">
								<div class="col-lg-12 ">
									<div class="row mt-3">
										<div class="col-lg-12 ">
											<h5 class="text-black ">Experiencia</h5>
											<h1 class="text-warning ">{{this.loginService.getExperience()}}</h1>
										</div>
									</div>
									<div class="row mt-3">
										<div class="col-lg-12 ">
											<h5 class="text-black ">Racha diaria</h5>
											<h1 class="text-warning ">{{this.loginService.getDaily()}}</h1>
										</div>
									</div>
									<div class="row mt-3">
										<div class="col-lg-12 ">
											<h5 class="text-black ">Lecciones restantes</h5>
											<h1 class="text-warning ">{{this.loginService.getGoal()}}</h1>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div *ngIf="loginService.isLoggedUser()==false" class="col-sm-4">
				<div class="row">
					<div class="col-lg-12">
						<div class="mt-5 text-center card-body bg-white margin-bootom-sm" id="round">
							<h5 class="text-black text-left">¡Crea un perfil para guardar tu progreso!</h5>
							<div class="row">
								<div class="col-lg-12 ">
									<a class="btn btn-primary btn-xl js-scroll-trigger mt-3 text-white" data-toggle="modal" data-target="#signupModalLong" (click)="open(content2)">Crear perfil
									</a>
									<a class="btn btn-primary btn-xl js-scroll-triggerr mt-3 text-white" id="button-style" data-toggle="modal" data-target="#loginModalLong"
									 (click)="open(content1)">Ingresar</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<ng-template #content1 let-c="close" let-d="dismiss">
	<div class="modal-header">
		<div class="col-3">
			<img src="../assets/Logo.png" class="img-fluid " alt="Responsive image">
		</div>
		<div class="col-6">
			<h1 class="modal-title" id="exampleModalLongTitle">
				<strong>LOGUÉATE</strong>
			</h1>
		</div>
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="mx-auto">
		<app-login [formkind]='kind1'></app-login>
	</div>
	<div class="modal-footer mx-auto">
	</div>
</ng-template>

<ng-template #content2 let-c="close" let-d="dismiss">
	<div class="modal-header">
		<div class="col-3">
			<img src="../assets/Logo.png" class="img-fluid " alt="Responsive image">
		</div>
		<div class="col-6">
			<h1 class="modal-title" id="exampleModalLongTitle">
				<strong>REGÍSTRATE</strong>
			</h1>
		</div>
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<app-login [formkind]='kind2'></app-login>
	<div class="modal-footer mx-auto">
	</div>
</ng-template>