<body class=bgexercises>
  <!--ContinueLesson section-->
  <div class="container-fluid text-center text-dark p-5">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="pt-5">¡Ya tienes un {{fluency}} % de soltura en contabilidad!</h2>
        <img class="img-fluid p-2" src="assets/Captura.PNG" alt="" id="completedLessonimgStyle">
        <hr class="invisible p-2">
      </div>
    </div>
  </div>
  <!--Footer section-->
  <footer class="mt-3 fixed-bottom" id="bg-foot">
    <div class="container-fluid py-3">
      <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
        <a class="btn btn-primary btn-xl js-scroll-trigger text-white invisible" data-toggle="modal" data-target="#exampleModalLong">Repasar lección</a>
        <a class="btn btn-primary btn-xl js-scroll-trigger" [routerLink]="['/home']">Continuar</a>
      </div>
    </div>
  </footer>
</body>
