<header class="masthead text-center text-white align-self-center d-flex">
  <div class="container m-auto">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8  text-center">
        <h1 class="text-uppercase">
          Error 404
        </h1>
        <h2> Ooooooop... Could not find it</h2>
        <h4> For Some Reason The Page You Requested Could Not Be Found.</h4>
        <hr>
        <h5>{{errorMessage}}</h5>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>
</header>
