<div class="bgexercises" id="page-top">

  <form>
    <!--Question and answers-->
    <section class="p-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">{{statement}}</h2>
            <button class=" btn btn-primary btn-xl js-scroll-trigger" (click)="check()"> DAME </button>
            <button class=" btn btn-primary btn-xl js-scroll-trigger" (click)="pulsar()"> PULSAME </button>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container mb-5">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-row align-items-center">
              <textarea class="form-control center" rows="7" cols=100 placeholder="Escribe aquí" name="solution" [(ngModel)]="answerText" [id]="color"></textarea>
            </div>
          </div>
        </div>
      </div>
      <hr class="invisible p-2">
    </section>
  </form>
</div>
<div class="mt-5 fixed-bottom" id="bg-foot">
  <div class="container-fluid py-3">
    <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
      <a class="js-scroll-trigger"></a>
      <button class="btn btn-primary btn-xl js-scroll-trigger">SALTAR
      </button>
      <a class="js-scroll-trigger"></a>
      <button class="btn btn-primary btn-xl js-scroll-trigger" (click)="check()">CALIFICAR </button>
      <a class="js-scroll-trigger"></a>
      <button class="btn btn-primary btn-xl js-scroll-trigger">SIGUIENTE
      </button>
      <a class="js-scroll-trigger"></a>
      <button class="btn btn-primary btn-xl js-scroll-trigger" routerLink="/home">TERMINAR
      </button>
    </div>
  </div>
</div>