
<form>
  <!--Question and answers-->
  <section class="p-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">{{statement}}</h2>
          <hr class="my-4">
        </div>
      </div>
    </div>
    <div class="container mb-5">
      <div class="row">
        <div class="col-sm-12">
          <div class="form-row align-items-center">
						<textarea class="form-control center" rows="7" cols=100
                      placeholder="Escribe aquí" name="solution"></textarea>
          </div>
        </div>
      </div>
    </div>
    <hr class="invisible p-2">
  </section>
</form>
